# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
env/

# OS / Editor temporary files
.DS_Store
Thumbs.db
*.swp
*~
